In [1]:
import os
import subprocess
import pandas as pd

os.environ["R_HOME"] = r"C:/Users/Jake/Documents/Anaconda3/envs/analysis_env/Lib/R"

import pymer4

from pymer4.utils import get_resource_path

df = pd.read_csv(os.path.join(get_resource_path(), "sample_data.csv"))

In [2]:
from pymer4.models import Lmer

In [3]:
formula = "DV ~ IV1 + IV3 + IV1:IV3 + (1|Group)"
model = Lmer(formula, data=df)
model.fit(summarize=True)

Linear mixed model fit by REML [’lmerMod’]
Formula: DV~IV1+IV3+IV1:IV3+(1|Group)

Family: gaussian	 Inference: parametric

Number of observations: 564	 Groups: {'Group': 47.0}

Log-likelihood: -2405.729 	 AIC: 4823.458

Random effects:

                 Name      Var     Std
Group     (Intercept)  727.489  26.972
Residual               221.824  14.894

No random effect correlations specified

Fixed effects:

             Estimate  2.5_ci  97.5_ci     SE       DF  T-stat  P-val  Sig
(Intercept)    39.170  21.720   56.620  8.903  469.624   4.400  0.000  ***
IV1             0.419  -0.550    1.388  0.494  516.425   0.847  0.397
IV3            -1.679 -13.378   10.021  5.969  515.275  -0.281  0.779
IV1:IV3        -0.076  -0.838    0.686  0.389  514.577  -0.195  0.845

In [4]:
model.anova()

SS Type III Analysis of Variance Table with Satterthwaite approximated degrees of freedom:
(NOTE: Using original model contrasts, orthogonality not guaranteed)

                 SS          MS  NumDF     DenomDF    F-stat     P-val Sig
IV1      159.168201  159.168201      1  516.425102  0.717542  0.397344
IV3       17.541469   17.541469      1  515.274804  0.079078  0.778663
IV1:IV3    8.433876    8.433876      1  514.576588  0.038021  0.845479

In [50]:
df
#df.to_csv('test_data.csv', index=False)
df.columns

Index(['Group', 'IV1', 'DV_l', 'DV', 'IV2', 'IV3'], dtype='object')

In [11]:
proc = subprocess.check_output(r'C:\Users\Jake\Desktop\python_code\Lab_Analyses\Lab_Analyses\NoteBooks\r_test.r', shell=True)
out = proc.decode('utf-8')

CalledProcessError: Command 'C:\Users\Jake\Desktop\python_code\Lab_Analyses\Lab_Analyses\NoteBooks\r_test.r' returned non-zero exit status 2.

In [ ]:
out

In [ ]:
cmd = 'Rscript r_test.r'
!{cmd}

In [51]:
proc = subprocess.run(["Rscript","aligned_rank_transform_test.r"], capture_output=False)

In [52]:
result = pd.read_csv(r'C:\Users\Jake\Desktop\python_code\Lab_Analyses\Lab_Analyses\NoteBooks\result.csv')

In [58]:
result

       Term         F  Df      Df.res    Pr(>F)
0      DV_l  0.014886   1  514.022618  0.902941
1       IV3  6.453065   2  512.015894  0.001707
2  DV_l:IV3  1.047150   2  514.317873  0.351684

In [55]:
posthoc = pd.read_csv(r'C:\Users\Jake\Desktop\python_code\Lab_Analyses\Lab_Analyses\NoteBooks\posthoc.csv')

In [56]:
posthoc

          contrast   estimate        SE          df   t.ratio   p.value
0    IV30.5 - IV31   7.752139  8.289493  512.005092  0.935176  0.350138
1  IV30.5 - IV31.5  28.897895  8.317183  512.018442  3.474481  0.001666
2    IV31 - IV31.5  21.145756  8.326436  512.024238  2.539593  0.017089

In [ ]:
import numpy as np

In [ ]:
a = np.array([1,1,1,1,1])
b = a * 2
c = a * 3

d = np.vstack([a,b,c])
d

In [ ]:
np.nanmean(d, axis=0)

In [ ]:
a = {"A":1, "B":2}
b = {"C":4, "D": 4}

c = {"a": a, "b": b}
d = {"a1": a, "b1": b}

In [ ]:
f = {**c, **d}

In [ ]:
f["a"]

In [ ]:
f["a1"]