# Video Labeling
Jupyter implementation of the label_video.py function

In [1]:
import label_video_v2
from Lab_Analyses.Utilities.save_load_pickle import load_pickle

In [5]:
img_dir = r'Z:\People\Jake\Imaging_Data\JW126\221018\FOV2\RedCh' # Directory where images are located
out_name = 'JW126_dendritic_RCh' # Name to save the video as
fnames = ['JW095_220606_10mw_Dendrite_processed_lever_data'] # Name of the pickle file with relevant behavioral information
path = r'C:\Users\Jake\Desktop\Analyzed_data\individual\JW092' # Path of where the pickle file is located
#data = load_pickle(fnames,path)[0]

In [ ]:
#data.__dict__.keys()

In [ ]:
# Get relevant behavioral data
### Get itis from optogenetic stimulation data
data = data.behavior_frames
itis = []
for i in data:
    iti = list(i.states.iti2)
    itis.append(iti)

In [3]:
itis=None

In [6]:
# Create the video
# filter_param=[5,5,1,1]
label_video_v2.label_video(img_dir=img_dir,labels=itis,out_name=out_name, save_dir=r'C:\Users\Jake\Desktop\temp_data',
                        avg_rate=15, ds_rate=None, img_range=(0,10), gamma=1.5, resize=None,
                        low_thresh=0)

Processed Image 1
Processed Image 2
Processed Image 3
Processed Image 4
Processed Image 5
Processed Image 6
Processed Image 7
Processed Image 8
Processed Image 9
Processed Image 10

In [7]:
a = {
    "a": [1,1,1,1,1,1],
    "b": [2,2,2,2,2,2],
    "c": [3,3,3,3,3,3],
}

In [8]:
import pandas as pd
df = pd.DataFrame(dict([(k, pd.Series(v)) for k, v in a.items()]))

In [10]:
pd.melt(df, value_vars=df.columns, var_name="Group")

   Group  value
0      a      1
1      a      1
2      a      1
3      a      1
4      a      1
5      a      1
6      b      2
7      b      2
8      b      2
9      b      2
10     b      2
11     b      2
12     c      3
13     c      3
14     c      3
15     c      3
16     c      3
17     c      3